* {
	font-family: Tahoma;
	background: #101010;
	color: white;
	margin: 0;
	padding: 0;
}

h1, button {
	text-align: center;
	margin: 10px 0;
	padding: 6px 10px;
}

p {
	padding: 3px 0;
}

p mark {
	color: red;
}

.img-repository {
	display: none;
}

.container {
	height: 500px;
	width: 1000px;
	margin: 100px auto;
}

.canvas {
	position: absolute;
	top: 300px;
	left: 50%;
	outline: 1px solid white;
	width: 500px;
	height: 250px;
}

.hero-stats div {
	display: inline-block;
}

.hero-stats .hero-name {
	display: block;
}

.display {
	overflow-y: scroll; /* duh */
	height: 400px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	padding: 6px 0;
	margin: 6px 0;
	width: 480px;
}

.game-controls {
	margin-bottom: 30px;
}
